:root {
    --light-controls-color: #585860;
    --light-controls-disabled-color: #b9b9c0;
    --light-nav-bg-color: #fcfcfc;
    --light-border-color: #7b8793;
    --light-btn-bg-hover-color: #e4e4e4; /* used for selected/expanded, too */
    --light-btn-bg-active-color: #cfcfcf;
    --light-viewer-bg-color: #fafafa;
    --light-page-shadow: 1px 1px 4px #bebebe;

    --dark-controls-color: #c0c0c0;
    --dark-controls-disabled-color: #757575;
    --dark-nav-bg-color: #313131;
    --dark-border-color: #000;
    --dark-btn-bg-hover-color: #222;
    --dark-btn-bg-active-color: #444;
    --dark-viewer-bg-color: #3a3a3a;
    --dark-page-shadow: 1px 1px 4px #1e1e1e;

    --nav-height: 45px;
}

.light-theme {
    --controls-color: var(--light-controls-color);
    --controls-disabled-color: var(--light-controls-disabled-color);
    --nav-bg-color: var(--light-nav-bg-color);
    --border-color: var(--light-border-color);
    --btn-bg-hover-color: var(--light-btn-bg-hover-color);
    --btn-bg-active-color: var(--light-btn-bg-active-color);
    --viewer-bg-color: var(--light-viewer-bg-color);
    --page-shadow: var(--light-page-shadow);
    --sidebar-bg-color: var(--viewer-bg-color);
}
.dark-theme {
    --controls-color: var(--dark-controls-color);
    --controls-disabled-color: var(--dark-controls-disabled-color);
    --nav-bg-color: var(--dark-nav-bg-color);
    --border-color: var(--dark-border-color);
    --btn-bg-hover-color: var(--dark-btn-bg-hover-color);
    --btn-bg-active-color: var(--dark-btn-bg-active-color);
    --viewer-bg-color: var(--dark-viewer-bg-color);
    --page-shadow: var(--dark-page-shadow);
    --sidebar-bg-color: var(--viewer-bg-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--viewer-bg-color);
}

/* Viewer panel */
#idrviewer {
    transition-timing-function: ease;
    transition-duration: 200ms;
    top: var(--nav-height);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
@media (min-width: 800px) {
    .sidebar-open #idrviewer {
        left: 350px;
    }
}
#idrviewer {
    background-color: var(--viewer-bg-color);
}
.page {
    box-shadow: var(--page-shadow);
}

/* Menu bars */
#controls {
    height: var(--nav-height);
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#controls div {
    display: flex;
    align-self: center;
}
#controls-left {
    justify-content: start;
    padding-left: 5px;
}
#controls-center {
    justify-content: center;
}
#controls-right {
    justify-content: flex-end;
    padding-right: 5px;
}

#controls select {
    height: 25px;
}
.btn {
    border: 0 none;
    height: 32px;
    padding: 0;
    width: 32px;
    background-color: transparent;
    display: inline-block;
    margin: 0 2px 0;
    border-radius: 3px;
    cursor: pointer;
}
.controls .separator {
    width: 20px;
}
#pgCount {
    font-family: Arial,serif;
    font-size: 15px;
    margin: 0 2px;
}
#pgCount,
.btn,
#controls select {
    align-self: center;
    color: var(--controls-color);
    fill: currentcolor;
}
#controls select {
    border-radius: 5px;
    margin: 0 2px;
}

#btnGo {
    width: 55px;
}
#btnView {
    width: 105px;
}
#btnZoom {
    width: 95px;
}

body:fullscreen .icon-fullscreen,
body:not(:fullscreen) .icon-fullscreen-exit {
    display: none;
}

.light-theme .icon-theme-light,
.dark-theme .icon-theme-dark {
    display: none;
}

#btnSideToggle, #btnBookmarks, #btnSearch, #btnSelect { padding: 3px; }
#btnThemeToggle, #btnThumbnails, #btnMove { padding: 4px; }
#btnZoomOut, #btnZoomIn { padding: 1px; }

.controls {
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid var(--border-color);
}
.btn:not([aria-selected="true"], [aria-disabled="true"], [aria-checked="true"]):hover {
    background-color: var(--btn-bg-hover-color);
}
.btn:not([aria-disabled="true"]):active {
    background-color: var(--btn-bg-active-color);
}
.btn[aria-disabled="true"] {
    color: var(--controls-disabled-color);
}
.btn[aria-selected="true"],
.btn[aria-expanded="true"],
.btn[aria-checked="true"]{
    background-color: var(--btn-bg-hover-color);
}
#controls select {
    background-color: var(--nav-bg-color);
    border: 1px solid var(--border-color);
}
.btn[aria-disabled="true"]:hover,
.btn[aria-selected="true"]:hover,
.btn[aria-checked="true"]{
    cursor: not-allowed;
}

/* Sidebar */
#sidebar {
    transition-timing-function: ease;
    transition-duration: 200ms;
    top: var(--nav-height);
    bottom: 0;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    left: -350px;
    width: 350px;
}
.sidebar-open #sidebar {
    left: 0;
}
#sidebar-controls {
    height: var(--nav-height);
    display: flex;
    padding-left: 5px;
    box-sizing: border-box;
}
#sidebar-tablist {
    display: flex;
}
#sidebar-content {
    top: var(--nav-height);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
#sidebar-content {
    background-color: var(--sidebar-bg-color);
}
#sidebar-content>div {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#sidebar {
    border-right: 1px solid var(--border-color);
}

/* Thumbnails panel */
.thumbnail {
    display: table;
    margin: 8px auto;
    scroll-margin: 8px;
}
.thumbnail img {
    max-width: 160px;
    max-height: 100%;
    border: 1px solid var(--border-color);
}
.currentPageThumbnail img, .thumbnail:hover img {
    outline: 3px solid var(--btn-bg-hover-color);
}
.spinner {
    border: 6px solid #bbb;
    border-top: 6px solid #3c9fe1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
.spinning {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Bookmarks panel */
#bookmarks-panel .bookmark-container {
    padding: 0;
    margin: 5px 0;
    font-family: Arial,serif;
    font-size: 15px;
}
#bookmarks-panel .bookmark-container .bookmark-item {
    margin: 0 5px 0 20px;
    position: relative;
}
#bookmarks-panel .bookmark-container .bookmark-item.parent > .toggle {
    display: list-item;
    position: absolute;
    left: -18px;
    border-radius: 4px;

    /* To centre the list marker inside this element, as it has an unchangeable 6px right margin, we'll compensate
    by setting a 6px left padding in here */
    padding-left: 6px;
    width: fit-content;

    list-style-position: inside;
    list-style-type: disclosure-closed;

    /* Needed to align the marker vertically with the text */
    line-height: 1.7;

    color: var(--controls-color);
    cursor: pointer;
}

#bookmarks-panel .bookmark-container .bookmark-item.parent.open > .toggle {
    list-style-type: disclosure-open;
}
#bookmarks-panel .bookmark-container .bookmark-item.parent .bookmark-container {
    display: none;
}
#bookmarks-panel .bookmark-container .bookmark-item.parent.open > .bookmark-container {
    display: initial;
}
#bookmarks-panel .bookmark-container .bookmark-item a {
    border-radius: 4px;
    padding: 5px;
    display: list-item;
    list-style-type: none;
    color: var(--controls-color);
    text-decoration: none;

    cursor: pointer;
}
#bookmarks-panel .bookmark-container .bookmark-item .toggle:hover,
#bookmarks-panel .bookmark-container .bookmark-item a:hover {
    background-color: var(--btn-bg-hover-color);
}

/* Search panel */
#search-panel {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
#search-panel {
    color: var(--controls-color);
}
#search-panel .searchOption *,
#search-panel #searchResults,
#search-panel #searchResults a {
    margin: 5px;
}
#search-panel .search-head-wrap {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;

    background-color: var(--viewer-bg-color);
}
#search-panel .search-head-wrap .search-input-wrap {
    display: flex;
    align-items: center;

    width: 288px;
    height: 30px;
    min-height: 0; /* Workaround for Firefox bug #1926015 */
    margin: 20px auto 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}
#search-panel .search-head-wrap .search-input-wrap #searchInput {
    display: block;
    flex-grow: 1;
    padding: 5px;
    min-width: 0;

    border: unset;
    background-color: unset;
    color: inherit;
}
#search-panel .search-head-wrap .search-input-wrap #searchInput:focus-visible {
    border: unset;
    outline: unset;
}
#search-panel .search-head-wrap .search-input-wrap .search-count {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 5px;

    cursor: default;
    user-select: none;

    font-size: 15px;
}
#search-panel .search-head-wrap .search-input-wrap #searchNavWrap {
    display: contents;
    height: 100%;
}
#search-panel .search-head-wrap .search-input-wrap #searchNavWrap button {
    width: auto;
    height: 100%;

    padding: unset;

    color: inherit;
    fill: currentcolor;
    background-color: unset;
    border: unset;
}
#search-panel .search-head-wrap .search-input-wrap #searchNavWrap button:not([aria-disabled="true"]):hover {
    background-color: var(--btn-bg-hover-color);
}
#search-panel .search-head-wrap .search-input-wrap #searchNavWrap button[aria-disabled="true"] {
    color: var(--controls-disabled-color);
    fill: currentcolor;
}
#search-panel .search-head-wrap .search-input-wrap #searchNavWrap button svg {
    width: auto;
    height: 100%;

    flex: none;
}
#search-panel .search-head-wrap .searchOption {
    margin: 0 20px;
    display: block;
}
#search-panel hr {
    margin: 18px 5px 0;
}
#search-panel .result {
    text-decoration: none;
    display: block;
    word-wrap: break-word;
    color: inherit;
}
#search-panel .result:hover {
    background-color: var(--btn-bg-hover-color);
}

/* Print styles */
@media print {
    #controls { display: none; }
    #idrviewer { overflow: visible; }
    .page { box-shadow: none; }
    .page:not([data-state="loaded"]) { display: none; }
}

/* Shared utilities */
.is-mobile .mobile-hidden,
.hidden {
    display: none !important;
}